<p id="notice"><%= notice %></p>

<p>
  <b>Image url:</b>
  <%= @museum.image_url %>
</p>

<p>
  <b>Name:</b>
  <%= @museum.name %>
</p>

<p>
  <b>Description:</b>
  <%= @museum.description %>
</p>


<%= link_to 'Edit', edit_museum_path(@museum) %> |
<%= link_to 'Back', museums_path %>
