<%= form_for(@current_wait) do |f| %>
  <% if @current_wait.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@current_wait.errors.count, "error") %> prohibited this current_wait from being saved:</h2>

      <ul>
      <% @current_wait.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :wait_id %><br />
    <%= f.number_field :wait_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
